section.table {
  .table-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    .title {
      margin-bottom: 1rem;

      span.publication-date {
        color: var(--clr-primary-7);
        font-size: 1rem;
      }
    }

    input {
      font: inherit;
      color: var(--clr-primary-7);
      background-color: transparent;
      border: 2px solid var(--clr-primary-7);
      border-radius: 0.75rem;
      padding: 0.75rem 1.5rem;
      outline: none;
      min-width: 300px;

      @media screen and (max-width: 780px) {
        min-width: unset;
        width: 100%;
      }
    }
  }
}
